@page "/logout"
@rendermode InteractiveServer
@inject NavigationManager NavManager

@code {
    protected override async Task OnInitializedAsync()
    {
        NavManager.NavigateTo("/");
    }
}

<p>Logging out...</p>
