<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SomaShare</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <p class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></p> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="browselistings">
                <p class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></p> browse Listings
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="browsewants">
                <p class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></p> Browse Wants
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listings">
                <p class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></p> Manage Listing
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="wants">
                <p class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></p> Manage Wants
            </NavLink>
        </div>

        
    </nav>
</div>

